
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgba(222, 184, 135, 1);
}
header h1, header h5{
    display: block;
    margin: 0rem auto;
    text-align: center;
}


#active{
    background-color: rgba(11, 73, 149, .5);
}




#menu{
    display: block;
    font-size: 1.5rem;
    border: 0;
    padding: 2px;
    background: none;
    color: black;
    font-weight: bold;
    position: relative;
    top: -.5rem;
    left: 10px;
}
#menu::before{
    content: '☰ Menu';

}
#menu.open::before{
    content: "X";
}

.navigation a{
    display: none;
    text-decoration: none;
    background-color: rgb(11, 73, 149);
    color: white;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
}
.navigation a:hover{
    background-color: rgba(255,255,255,.1);
}

.navigation .open a{
    display: block;
}

li{
    display: flex;
}

.content{
    display: block;
}


#banner{
    width: 100%;
    height: 100px;
    padding: 0px 0px 0px 10px;
    margin: 0;
    border-radius: 6px;
    box-shadow: 2px 2px 10px;
    background-color: rgb(11, 73, 149);
}

#banner button, #banner a{
    border-radius: 6px;
    font-size: 2rem;
    width: 100%;
    height: 75px;
    color: white;
    text-decoration:underline;
    background-color: rgba(0, 0, 0, .01);
    border: none;
}

#banner h2{
    color: white;
    text-align: center;
}


#currentEvents h2, 
#weather h2,
#ads h2
{
    text-align: center;
    border-bottom: 2px dashed black;
}

#currentEvents{
    border: 1px solid black;
    margin: 15px; 
    padding: 2rem auto;
    box-shadow: -2px 2px 10px grey;
    width: 350px;
}

#event1{
    display: grid;
    grid-template-rows: 50px auto;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    /* box-shadow: 0px -1px 10px 5px rgb(11, 73, 149); */
    border: none;
    border-radius: 5%;
}

#event1 p{
    display: block;
    color: black;
    width: 100%;
    text-align: left;
    margin-left: 0;
    padding-top: 10px;
}

#event2{
    display: grid;
    grid-template-rows: 50px auto;
    padding: 1rem;
    background-color: white;
    /* box-shadow: 0px -1px 10px 5px rgb(11, 73, 149); */
    border: none;
    border-radius: 5%;
}

#event2 p{
    display: block;
    color: black;
    width: 100%;
    text-align: left;
    margin-left: 0;
    padding-top: 10px;
}

#event3{
    display: grid;
    grid-template-rows: 50px auto;
    padding: 1rem;
    background-color: white;
    /* box-shadow: 0px -1px 10px 5px rgb(11, 73, 149); */
    border: none;
    border-radius: 5%;
}

#event3 p{
    display: block;
    color: black;
    width: 100%;
    text-align: left;
    margin-left: 0;
    padding-top: 10px;
}


#weather{
    background: url('chamber/images/weatherDisplay.png') no-repeat center center;
    background-size: cover;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    
}

#forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}
#forecast div{
    box-shadow: 2px 2px 10px black;
    font-size: 20px;
    margin-top: 1.5rem;
}
#forecast div p{
    padding-top: 1rem;
}

#ads{
    border: 1px solid black;
    margin: 5px;
    background-color: grey;
    padding: 2rem auto;
}
footer{
    display: block;
    position: relative;
    bottom: 0;
    color: black;
    font-size: 1.5rem;
    background-color: rgba(222, 184, 135, 1);
}







/* Discover Page */
table{
    border-collapse: collapse;
    border: 1.5px solid black;
    margin-bottom: 8px;
    width: 120%;
}
caption{
    background-color: rgb(11, 73, 149);
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
}
td{
    width: 50px;
    height: 50px;
}
th{
    background-color: rgb(11, 73, 149);
    color: white;

}
th, td{
    border: 2px solid black;
}

#localPictures{
    display: inline;
    max-width: 200px;
}
#calendar{
    width: 250px;
}





/* Form Page*/
.form{
    width: 400px;
    margin: var(--margin);

}
.form fieldset{
    border: 3px solid rgb(11, 73, 149);
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.form label{
    display: block;
    margin: 1.5rem 10px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="tel"]
{
    display: block;
    font-size: 1.5rem;
    background-color: rgb(230, 223, 223);
    border-radius: 6px;
}
.form input[type="radio"]{
    margin-right: 5px;
}


.form input[required]
{
    border-left: 8px solid red;
}

.form input[required]:valid
{
    border-left: 8px solid green;
}

.form legend, .form div{
    margin: .5rem 10px;
    color: rgb(11, 114, 63)
}
.form div{
    border-bottom: 2px dashed rgb(11, 73, 149);
}
.form input[type="submit"]{
    width: 150px;
    height: 50px;
    background: linear-gradient(rgb(11, 73, 149), whitesmoke);
}
.memberLevel{
    width: 50px;
}

#joinTable{
    width: 250px;
}

#joinTable td, #joinTable th{
    text-align: center;
    height: 50px;
}
.form input[type="submit"]{
    width: 96%;
    margin: 5px 2%;
    border-radius: 6px;
}






/* Directory CSS */

#companyCards{
    display: block;
}
#companyCards p, #companyCards h3{
    color: black;
    padding-bottom: 4px;
}
#companyCards section{
    
    border: 2px solid rgb(11, 73, 149);
    padding-left: 10px;
}