header, footer{
    background-color: rgba(8, 86, 29, 1);
    color: navajowhite;
    padding: 20px;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
}

nav{
    background-color: rgb(31, 17, 106);
    color: white;
    font-size: 2rem;
    padding: 15px;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;

}
p{
    font-size: 30px;
    font-family: sans-serif;
}
h2{
    font-family: 'Acme';
    color: navajowhite;
    background-color: rgba(8, 86, 29, 1);
}
img{
    border: 10px solid black;
}

#backgroundColor{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}