@media screen and (min-width: 40rem){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: white;
    }


    button{
        display: block;
        background-color: rgb(11, 73, 149);
        color: white;
        font-weight: bold;
        width: 50px;
        height: 40px;
        box-shadow: 5px 5px;
        text-align: center;

    }

    #menu{
        display: none;
    }

    nav{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0rem;
        background-color: rgb(11, 73, 149);
        border: 2px solid black;
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        list-style-type: none;
        align-content: center;
        padding: 15px 15px 15px 15px;
        font-size: 1.5rem;
        color: white;
    }
    .navigation a{
        display: flex;
    }
    nav a:hover{
        background-color: rgba(0, 0, 0, .75);
        /* color: black; */
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    #currentEvents h2, 
    #weather h2,
    #ads h2
    {
        text-align: center;
        border-bottom: 2px dashed black;
    }

    #currentEvents{
        padding: 1rem;
        background-color: white;
        /* background: radial-gradient(white, rgb(11,73,149)); */
        box-shadow: 0px -1px 10px 5px rgb(11, 73, 149);
        border: none;
        border-radius: 5%;
    }
    
    #weather{
        background: url('/chamber/images/weatherDisplay.png') no-repeat center center;
        background-size: cover;
        padding: 1rem;
        box-shadow: none;
        border-radius: 5%;
        font-weight: bold;
        font-size: 2.5rem;
        
    }
    #ads{
        padding: 1rem;
        box-shadow: none;
        border-radius: 5%;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }


    /* Explore Main area CSS */
    #exploreMain{
        display: flex;
        gap: 11rem;
    }
    #message{
        display: block;
        border-bottom: 1px dashed grey;
    }
    #attractions{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 40%;
    }
    #spellingB{
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 8px 8px 5px rgb(222, 184, 135);
        margin: 1rem;
        padding: 1rem auto;
    }
    #calendar{
        margin: 1rem;
        padding: 1rem 1rem -1px 1rem;
        padding-bottom: 0px;
        text-align: center;

    }

    #funRun{
        box-shadow: 8px 8px 5px rgb(222, 184, 135);
        margin: 1rem;
        padding: 1rem auto;
    }
    #localPictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 60%;
        background-color: black;
        margin-right: 10px;
    }
    #localPictures p{
        font-weight: bold;
        color: aquamarine;
    }
    .picture img{
        width: 400px;
        height: auto;
        margin: 0%;
        border: 5px solid white;
        transition: transform .3s ease;
    }
    .picture img:hover{
        transform: scale(1.1);
    }

    /* Form Page */
    /* .joinMain :root{
        color: rgb(14, 150, 37);
        --margin: 10px 1.5rem;
    } */

    #joinMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 2rem 10px;
    }

    .form{
        width: 400px;
        margin: var(--margin);

    }
    .form fieldset{
        border: 3px solid rgb(11, 73, 149);
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .form label{
        display: block;
        margin: 1.5rem 10px;
    }
    .form input[type="text"],
    .form input[type="email"],
    .form input[type="tel"]
    {
        display: block;
        font-size: 1.5rem;
        background-color: rgb(230, 223, 223);
        border-radius: 6px;
    }
    .form input[type="radio"]{
        margin-right: 5px;
    }

    
    .form input[required]
    {
        border-left: 8px solid red;
    }

    .form input[required]:valid
    {
        border-left: 8px solid green;
    }

    .form legend, .form div{
        margin: .5rem 10px;
        color: rgb(11, 114, 63)
    }
    .form div{
        border-bottom: 2px dashed rgb(11, 73, 149);
    }
    .form input[type="submit"]{
        width: 150px;
        height: 50px;
        background: linear-gradient(rgb(11, 73, 149), whitesmoke);
    }



    #joinTable{
        margin-left: -150px;
    }

    #joinTable td, #joinTable th{
        text-align: center;
        height: 60px;
    }
    #joinTable .memberLevel{
        width: 50px;
    }

    /* thank you */
    #thankyou{
        height: 545px;
    }





}
