
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Acme', sans-serif;
}

header{
    background-color: rgba(8, 86, 29, 1);
}

header img{
    margin: 15px;
    border-radius: 15px;
    width: 175px;
}

header span{
    display: block;
    text-align: center;
    color: navajowhite;
    font-size: 85px;
    padding-bottom: 10px;
}
.hero{
    margin: 10px;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.herolabel{
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(navajowhite, #d7d3d3);
    padding: 10px;
    box-shadow: 0 0 3rem whitesmoke;
}
.herolabel p{
    font-size: 1rem;
}

#mode{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer; 
}

#menu{
    font-size: 1.5rem;
    border: 0;
    padding: 2px;
    background: none;
    color: #000;
    position: relative;
    top: 10px;
    left: 10px;
}
#menu::before{
    content: '☰ Menu';
}
#menu.open::before{
    content: "X";
}
.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
    font-size: 45px;
	color: #fff;
}
.open a{
    display: block;
}
nav{
    list-style-type: none;
    background-color: rgb(31, 17, 106);
    margin: 0 auto;
    max-width: 800px;
}
nav ul{
    list-style-type: none;
}

nav .active{
    background-color: rgba(0,0,0,.3);
}
nav li:hover{
    background-color: rgba(255,255,255,0.2);
}

.parent{
    margin: 1rem .5rem;
}
.card{
    border: 1px solid #415541;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.card li{
    padding: 0.75rem 0;
}
.card p{
    padding: .75rem 0;
    /* display: block; */
    text-align: center;
}

    /* Weather Code */
#figcaption{
        text-transform: capitalize;
        display: inline-block;
}

.parent h2{
    background-color: rgb(8, 86, 29);
    color: navajowhite;
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.lastModified{
    text-align: right;
}

.map{
    width: 100%;
}

footer{
    background-color: rgba(8, 86, 29, 1);
    color: navajowhite;
    font-size: 20px;
}