header, footer{
    background-color: rgb(91, 48, 0);
    color: white;
    padding: 20px;
    font-size: 50px;
    font-family: 'Acme', sans-serif;


}
body{
    background-color: rgb(164, 207, 255);
    font-family: sans-serif;

}
p{
    font-size: 30px;
    font-family: sans-serif;
}
h2{
    font-family: 'Acme';
}
img{
    border: 10px solid black;
}
#headerColor{
    color:rgb(91, 48, 0);
}
#backgroundColor{
    background-color: rgb(91, 48, 0);
    color: rgb(164, 207, 255);
}