:root{
    --background-color: whitesmoke;
    --margin: 2rem 0;
    --border: 2px solid grey;
    --border-radius: 6px;
}


.wf1 fieldset{
    margin: var(--margin);
    border: 2px solid grey;
    border-radius: 6px;
    padding: .5rem 2%;
}
.wf1 legend{
    padding: .5rem 2%;
    font-weight:bold;
}

.wf1 label{
    display: block;
    padding-top: 1rem;
    color: grey;
    font-size: 1rem;
}

.wf1 input[type="text"],
.wf1 input[type="password"],
.wf1 input[type="email"]
{
    background-color: var(--background-color);
    display: block;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="range"]
{
    background-color: whitesmoke;
    display: block;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: .75rem;
    color: grey;
    width: 100%;
    max-width: 400px;
}

.datalist-labels {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 3px;
}

.wf1 input:required{
    border-left: 8px solid red;
}

.wf1 input:required:valid{
    border-left: 8px solid green;
}

#submit{
    border: none;
    background-image: linear-gradient(rgba(31, 17, 106, .7), black);
    color: white;
    border-radius: var(--border-radius);
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 0rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}