@media screen and (min-width: 40rem)
{
    #mode{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 3rem;
        cursor: pointer; 
    }

    .parent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    .card{
        box-shadow: 1px 1px 10px black;
    }
    #menu{
        display: none;
    }
    .ul{
        display: flex;
        justify-content: space-evenly;
    }
    nav{
        background-color: rgb(31, 17, 106);
        max-width: 100%;
    }

    nav ul{
        list-style-type: none;
    }
    nav a{
        flex: 1 1 100%;
        color: navajowhite;
        text-align: center;
        padding:2rem;
    }
    nav .active{
        background-color: rgba(0,0,0,.4);
    }
    nav li:hover{
        background-color: rgba(255,255,255,.4);
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 25px;
    }

    #lastModified{
        margin-left: auto;
    }
}

